name: Deploy to Lolipop

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Lolipop via FTP
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          remoteDir: /acrylic-stand
          localDir: "."
          options: "--delete --verbose --exclude=.git/ --exclude=.github/ --exclude=node_modules/ --exclude=.vscode/ --exclude=admin/"
